#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.content-main-form{
  display: flex;
  justify-content: center;
}

/* .content-main-card{
  border: 2px solid green;
  width: 900px;
} */

